<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Detalle de ingreso egreso</h4>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Descripción</th>
                            <th>Tipo</th>
                            <th>Valor</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let item of entries | entryOrder">
                            <td>{{item.description}}</td>
                            <td [class.text-success]="item.type === 'Ingreso'" [class.text-danger]="item.type === 'Egreso'">
                                {{item.type}}
                            </td>
                            <td>{{item.value |currency:'COP $':'symbol':'4.0-0'}}</td>
                            <td>
                                <button (click)="deleteItem(item)" class="btn btn-danger" type="button"><i class="fas fa-trash-alt m-0"></i></button>
                            </td>
                        </tr>
                    </tbody>

                </table>

                <!-- <div *ngIf="loading">
                    <i style="color: #fff;" class="fas fa-circle-notch fa-spin"></i> Cargando...
                </div> -->


            </div>
        </div>
    </div>
</div>